body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    overflow: hidden;
    background-color: #e6f3ff;
    padding: 10px;
}

.header a {
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #505050;
    padding: 10px;
    line-height: 20px;
    border-radius: 4px;
}

.header .header-left a {
    font-size: 25px;
    font-weight: bold;
}

.header .header-right {
    float: right;
    margin-right: 5%;
}

.header .header-right a:hover {
    color: #5D3FD3;
}

.header .header-right .active{
    text-decoration: underline;
}

@media screen and (min-width:600px) and (max-width: 915px){
    .header .header-right {
        float: none;
    }

    .header a {
        float: none;
        display: inline-block;
        text-align: left;
    }

    .header {
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    .header .header-right {
        float: none;
    }

    .header a {
        float: none;
        display: block;
        text-align: left;
    }
}
